<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047896995916-0msq57a4sh3mclvbvmu33lil2mrhic79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047896995916-0msq57a4sh3mclvbvmu33lil2mrhic79</string>
	<key>API_KEY</key>
	<string>AIzaSyBEEvTNDRD2N9SBSRx02KPhPIv0arB_vyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1047896995916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.tech.tsukuba.mcr</string>
	<key>PROJECT_ID</key>
	<string>animal-onomatope</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-onomatope.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047896995916:ios:3afe1b56713846b46fdce9</string>
</dict>
</plist>